@keyframes slide-1-animation {
    0% {
        left: 0
    }
    25% {
        left: 0
    }
    40% {
        left: -100%
    }
    65% {
        left: -100%
    }
    80% {
        left: -200%
    }
    100% {
        left: -200%
    }
}

@keyframes slide-2-animation {
    0% {
        left: 100%
    }
    25% {
        left: 100%
    }
    40% {
        left: 0
    }
    65% {
        left: 0
    }
    80% {
        left: -100%
    }
    100% {
        left: -100%
    }
}

@keyframes slide-3-animation {
    0% {
        left: 200%
    }
    25% {
        left: 200%
    }
    40% {
        left: 100%
    }
    65% {
        left: 100%
    }
    80% {
        left: 0%
    }
    100% {
        left: 0%
    }
}

.al-slider {
    background-color: coral;
}

.al-slider .slider__slides {
    position: relative;
    min-height: 300px;
    overflow: hidden;
}

.al-slider .slider__slide {
    display: inline-block;
    width: 100%;
    min-height: 300px;
    position: absolute;
}

.al-slider /*.slider__slides */.slider__slide:first-child {
    background-color: goldenrod;
    /*animation: slide-1-animation 10s infinite;*/
    animation-direction: alternate;
}

.al-slider /*.slider__slides */.slider__slide:nth-child(2) {
    background-color: silver;
    left: 100%;
    /*animation: slide-2-animation 10s infinite;*/
    animation-direction: alternate;
}

.al-slider /*.slider__slides */.slider__slide:nth-child(3) {
    background-color: lightblue;
    left: 200%;
    /*animation: slide-3-animation 10s infinite;*/
    animation-direction: alternate;
}

.nav {
}

.nav .nav__btn.nav__btn--next {
}

/* bez odstępu selektor wybiera
znaczniki, które zawierają obie klasy, z odstępem dzieci */

.nav .nav__btn.nav__btn--prev {
}